<h1>College Bound</h1>
<h2 id = "title">Your next step toward your future</h2>
<div class = "container">
<div id = "one">
    <h2>Your College choices</h2>

  <div id = "collegeChoices">
  {{#each colleges}}
      <p>major: {{major}}</p>
      <p>Score: {{score}}</p>
      <p>Cost: {{cost}}</p>
      <p>Size: {{size}}</p>
      <br>
  {{/each}}
  </div>
</div>
</div>


<button id = "text">
<a href={{{text}}} class="w3-btn w3-black">Link Button</a>Fill out form</button>

